/* fallback */
@font-face {
    font-family: 'helvetica neue';
    font-style: normal;
    font-weight: 400;
}
  
@font-face {
    font-family: 'helvetica neue';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Bank_Gothic_Medium.otf");
}

@font-face {
    font-family: 'helvetica neue';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SF-Pro-Display-Bold.otf");
}

.material-icons {
  font-family: 'helvetica neue';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #077ACB;
    background: #0e0e10;
  }

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'helvetica neue', sans-serif;
    color: #fff;
}

html {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

body{
    width: 100%;
    height: 100%;
    background-color: #0e0e10;
}

.js-loading *:not(.preload),
.js-loading *:before:not(.preload),
.js-loading *:after:not(.preload) {
    display: none;
}

.preload{
    background-color: #0e0e10;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block;
    transform-origin: center;
    transition: all ease-in 1s;
}

.preload img{
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg-img{
    display: block;
    background: transparent;
    background-image: url("https://s7arbuck.github.io/stuff/img/backg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;  
    height: 1080px;
    opacity: 0.15;
    image-rendering: crisp-edges;
    z-index: -5;
}

.container{
    display: grid;
    width: 80%;
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows:  1f 1fr 1fr 1fr;
    grid-template-areas: "nav"
                         "home"
                         "info"
                         "testimonials"
                         "faqs"
                         "fiiter";
    gap: 5%;
}

.foot-container{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows:  1f;
    grid-template-areas: "foot";
    gap: 5%;
}


/*--- Start Navigation --*/
.navbar {
    position: fixed;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing:.1rem;
    background-color: black;
    font-color: #000000;
}

.navbar-brand img {
  height: 1rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .2rem;
  font-size: 12px
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #5763e6;
}


.btn {
    display: inline-block;
    transition: all 650ms;
    color: #fff;
    border-color: #505962;
    background-color: #1EBBA3;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: lighter;
    margin-top: 3.5rem;
    padding: 2.5rem 6rem;
    border-radius: 3rem;
}

a.btn {
    text-decoration: none;
    display: inline-block;
    transition: all 650ms;
    border-color: #189582;
    background-color: #189582;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: lighter;
    margin-top: 3.5rem;
    padding: 2.5rem 6rem;
    border-radius: 3rem;
}

.main-btn:hover{
  border-color: #189582;
  background-color: #189582;
  color: white;
}
{
    transform: translateY(0);
}
/*--- End Navigation --*/

/* landing section */


.header{
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.header img{ 
    margin-top: 150%;
    width: 300px; 
    display: inline-block; 
    position: center
}


.header h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 55px;
    font-family: "Helvetica Neue";
}

.header h2{
    color: rgba(169,169,169,1);
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    transform-style: preserve-3d;
    pointer-events: none;
    line-height: 30px;
}

.header span{
    display: block;
    color: rgba(169,169,169,1);
    margin-bottom: 20px;
    font-size: 24px;
    transform-style: preserve-3d;
    pointer-events: none;
}

.btn{
    background-color: #35C4FE;
    margin-bottom: 80px;
    border: none;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease-in-out;
    color: black;
    font-weight: 700;
}

.btn:hover{
    transform: scale(1.2);
    background-color: #35C4FE;
}



/* end of landing section */
/* info section */

.info{
    grid-area: info-start / info-start / info-end / info-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "cardd1 cardd2"
                         "cardd3 cardd4"
                         "cardd5 cardd6"
                         "cardd7 cardd8";
    gap: 25px;
    margin: 0 auto;
    padding-top: 175px
}

.cardd{opacity: 1;}
.cardd-content { text-align: center; }
.cardd-content h1 {font-family: 'helvetica neue'; margin-top: 5px;margin-bottom: 20px; font-size: 40px; }
.cardd-content p { color: rgba(169,169,169,1); display: block; margin: 0 auto; width: 80%; line-height: 30px; font-size: 18px;}

.cardd img{
    width: 153px; 
    height: 153px; 
    display: block; 
    margin: 0 auto;
}

.cardd:nth-child(1){grid-area: cardd1-start / cardd1-start / cardd1-end / cardd1-end;}
.cardd:nth-child(2){grid-area: cardd2-start / cardd2-start / cardd2-end / cardd2-end;}
.cardd:nth-child(3){grid-area: cardd3-start / cardd3-start / cardd3-end / cardd3-end;}
.cardd:nth-child(4){grid-area: cardd4-start / cardd4-start / cardd4-end / cardd4-end;}
.cardd:nth-child(5){grid-area: cardd5-start / cardd5-start / cardd5-end / cardd5-end;}
.cardd:nth-child(6){grid-area: cardd6-start / cardd6-start / cardd6-end / cardd6-end;}
.cardd:nth-child(7){grid-area: cardd7-start / cardd7-start / cardd7-end / cardd7-end;}
.cardd:nth-child(8){grid-area: cardd8-start / cardd8-start / cardd8-end / cardd8-end;}

/* end of info section */

/* footer section */
.footer{
    grid-area: foot-start / foot-start / foot-end / foot-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr max-content;
    padding: 20px
    gap: 20px;
}

.twitter p{
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    color: #077ACB;
}

.twitter a img{
    vertical-align: center;
    text-align: center;
    display: inline-block;
    width: 153px;
    height: 153px;
    padding: 5px;

}


.instagram p{
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    color: #077ACB;
}

.instagram a img{
    vertical-align: center;
    text-align: center;
    display: inline-block;
    width: 153px;
    height: 153px;
    padding: 5px;
}

/* end of footer section */

.err{
    display: block; margin: 0 auto; text-align: center;
}

@keyframes fadeInLeft{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes preloaderAnim {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes glitch{
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-15px, 15px)
    }
    40% {
        transform: translate(-15px, -15px)
    }
    60% {
        transform: translate(15px, 15px)
    }
    80% {
        transform: translate(15px, -15px)
    }
    to {
        transform: translate(0);
        display: none;
    }
}

.tos-container{
    width: 80%;
    display: block;
    margin: 0px auto 50px auto;
}

.tos-container h1{
    text-align: center; 
    font-size: 30px;
    margin-bottom: 20px;
}

.tos-container ul {
    list-style: none;
    margin: 20px 40px;
}

.tos-container ul li::before {
    content: "\2022"; 
    color: #35C4FE;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

.tos-container p:not(strong){
    color: rgb(212, 212, 212);
}

.tos-container strong{
    font-size: 20px;
    display: block;
    margin: 10px 0px;
}