/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/materialIcons.woff2") format('woff2');
}
  
@font-face {
    font-family: 'Bank Gothic';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Bank_Gothic_Medium.otf");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SF_Pro_Display_Regular.otf");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SF-Pro-Display-Bold.otf");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #077ACB;
    background: #0e0e10;
  }

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'SF Pro Display', sans-serif;
    color: #fff;
}

html {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

body{
    width: 100%;
    height: 100%;
    background-color: #0e0e10;
}

.js-loading *:not(.preload),
.js-loading *:before:not(.preload),
.js-loading *:after:not(.preload) {
    display: none;
}

.preload{
    background-color: #0e0e10;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block;
    transform-origin: center;
    transition: all ease-in 1s;
}

.preload img{
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg-img{
    display: block;
    background: transparent;
    background-image: url("https://s7arbuck.github.io/stuff/img/backg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;  
    height: 1080px;
    opacity: 0.15;
    image-rendering: crisp-edges;
    z-index: -5;
}

.container{
    display: grid;
    width: 80%;
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows:  1f 1fr 1fr 1fr;
    grid-template-areas: "nav"
                         "landing"
                         "info"
                         "foot";
    gap: 5%;
}

.foot-container{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows:  1f;
    grid-template-areas: "foot";
    gap: 5%;
}
/*--- Start Navigation --*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing:.1rem;
  background-color: black;
  font-color: #000000;
}

.navbar-brand img {
  height: 2rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #5763e6;
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1{
    font-size: 6rem;
    font-family: 'leto';
    background:#5763e6;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h3{
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}


.btn {
    display: inline-block;
    transition: all 650ms;
    color: #fff;
    border-color: #505962;
    background-color: #35C4FE;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: lighter;
    margin-top: 3.5rem;
    padding: 2.5rem 6rem;
    border-radius: 3rem;
}

a.btn {
    text-decoration: none;
    display: inline-block;
    transition: all 650ms;
    border-color: #189582;
    background-color: #35C4FE;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: lighter;
    margin-top: 3.5rem;
    padding: 2.5rem 6rem;
    border-radius: 3rem;
}

.main-btn:hover{
  border-color: #05548D;
  background-color: #05548D;
  color: #1A1A1A;
}
{
    transform: translateY(0);
}
/*--- End Navigation --*/

/* landing section */


.header{
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.header img{ 
    margin-top: 400px;
    width: 300px; 
    display: inline-block; 
    position: center
}


.header h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 55px;
    font-family: "SF Pro Display";
}

.header h2{
    color: rgba(169,169,169,1);
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    transform-style: preserve-3d;
    pointer-events: none;
    line-height: 30px;
}

.header span{
    display: block;
    color: rgba(169,169,169,1);
    margin-bottom: 20px;
    font-size: 24px;
    transform-style: preserve-3d;
    pointer-events: none;
}

.btn{
    background-color: #35C4FE;
    margin-bottom: 80px;
    border: none;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease-in-out;
    color: black;
    font-weight: 700;
}

.btn:hover{
    transform: scale(1.2);
    background-color: #35C4FE;
}



/* end of landing section */
/* info section */

.info{
    grid-area: info-start / info-start / info-end / info-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "card1 card2"
                         "card3 card4"
                         "card5 card6"
                         "card7 card8";
    gap: 25px;
    margin: 0 auto;
}

.card{opacity: 0;}
.card-content { text-align: center; }
.card-content h1 {font-family: 'SF Pro Display'; margin-top: 5px;margin-bottom: 20px; font-size: 40px; }
.card-content p { color: rgba(169,169,169,1); display: block; margin: 0 auto; width: 80%; line-height: 30px; font-size: 18px;}

.card img{
    width: 153px; 
    height: 153px; 
    display: block; 
    margin: 0 auto;
}

.card:nth-child(1){grid-area: card1-start / card1-start / card1-end / card1-end;}
.card:nth-child(2){grid-area: card2-start / card2-start / card2-end / card2-end;}
.card:nth-child(3){grid-area: card3-start / card3-start / card3-end / card3-end;}
.card:nth-child(4){grid-area: card4-start / card4-start / card4-end / card4-end;}
.card:nth-child(5){grid-area: card5-start / card5-start / card5-end / card5-end;}
.card:nth-child(6){grid-area: card6-start / card6-start / card6-end / card6-end;}
.card:nth-child(7){grid-area: card7-start / card7-start / card7-end / card7-end;}
.card:nth-child(8){grid-area: card8-start / card8-start / card8-end / card8-end;}

/* end of info section */

/* footer section */
.footer{
    grid-area: foot-start / foot-start / foot-end / foot-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr max-content;
    padding: 20px
    gap: 20px;
}

.twitter p{
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    color: #077ACB;
}

.twitter a img{
    vertical-align: center;
    text-align: center;
    display: inline-block;
    width: 153px;
    height: 153px;
    padding: 5px;

}


.instagram p{
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    color: #077ACB;
}

.instagram a img{
    vertical-align: center;
    text-align: center;
    display: inline-block;
    width: 153px;
    height: 153px;
    padding: 5px;
}

/* end of footer section */

.err{
    display: block; margin: 0 auto; text-align: center;
}

@keyframes fadeInLeft{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes preloaderAnim {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes glitch{
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-15px, 15px)
    }
    40% {
        transform: translate(-15px, -15px)
    }
    60% {
        transform: translate(15px, 15px)
    }
    80% {
        transform: translate(15px, -15px)
    }
    to {
        transform: translate(0);
        display: none;
    }
}

.tos-container{
    width: 80%;
    display: block;
    margin: 0px auto 50px auto;
}

.tos-container h1{
    text-align: center; 
    font-size: 30px;
    margin-bottom: 20px;
}

.tos-container ul {
    list-style: none;
    margin: 20px 40px;
}

.tos-container ul li::before {
    content: "\2022"; 
    color: #35C4FE;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

.tos-container p:not(strong){
    color: rgb(212, 212, 212);
}

.tos-container strong{
    font-size: 20px;
    display: block;
    margin: 10px 0px;
}