/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/materialIcons.woff2") format('woff2');
}
  
@font-face {
    font-family: 'Bank Gothic';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Bank_Gothic_Medium.otf");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SF_Pro_Display_Regular.otf");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SF-Pro-Display-Bold.otf");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #077ACB;
    background: #0e0e10;
  }

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'SF Pro Display', sans-serif;
    color: #fff;
}

html {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

body{
    width: 100%;
    height: 100%;
    background-color: #0e0e10;
}

.js-loading *:not(.preload),
.js-loading *:before:not(.preload),
.js-loading *:after:not(.preload) {
    display: none;
}

.preload{
    background-color: #0e0e10;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block;
    transform-origin: center;
    transition: all ease-in 1s;
}

.preload img{
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg-img{
    display: block;
    background: transparent;
    background-image: url("/Users/will/Documents/Secret/stuff/img/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;  
    height: 1080px;
    opacity: 0.15;
    image-rendering: crisp-edges;
    z-index: -5;
}

.container{
    display: grid;
    width: 80%;
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows:  1f 1fr 1fr 1fr;
    grid-template-areas: "nav"
                         "landing"
                         "info"
                         "foot";
    gap: 5%;
}

.foot-container{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows:  1f;
    grid-template-areas: "foot";
    gap: 5%;
}

/* nav bar */
.nav-bar{
    grid-area: nav-start / nav-start / nav-end / nav-end;
    padding: 20px;
    z-index: 5;
}

.nav-bar .collapse-button {display: none;}

.nav-links{
    text-align: center;
    display: grid;
    grid-template-columns: 4fr auto 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    grid-template-areas: ". home tac priv dash";
}

.nav-links #img-container{
    display: none;
}

.active:after{
    transform: scaleX(1);  
    transition: ease-in 0.1s;
}

.nav-bar .nav-links span{
    white-space: nowrap;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 10px 5px 10px;
    transition: ease-in 0.1s;
}

.nav-bar .nav-links span a{
    text-decoration: none;
}


.nav-bar .nav-links span:nth-child(2){
    grid-area: home-start / home-start / home-end / home-end;
    margin-right: 10px;
}

.nav-bar .nav-links span:nth-child(3){
    grid-area: tac-start / tac-start / tac-end / tac-end;
    margin-right: -10px;
}

.nav-bar .nav-links span:nth-child(4){
    grid-area: priv-start / priv-start / priv-end / priv-end;

}

.nav-bar .nav-links span:nth-child(5){
    grid-area: dash-start / dash-start / dash-end / dash-end;
    background-color: #077ACB;
    border-radius: 3px;
    height: 82%;
}

.nav-bar .nav-links span:nth-child(5) a{
    color: #0e0e10;
    font-weight: 700;
}

.nav-bar .nav-links span:nth-child(2):after, .nav-bar .nav-links span:nth-child(3):after, .nav-bar .nav-links span:nth-child(4):after{
    display:block;
    content: '';
    padding-top: 10px;
    border-bottom: solid 3px #077ACB;
    transform: scaleX(0);  
    transition: ease-in 0.1s;
}

.nav-bar .nav-links span:nth-child(2):hover:after, .nav-bar .nav-links span:nth-child(3):hover:after, .nav-bar .nav-links span:nth-child(4):hover:after{
    transform: scaleX(1);
}

.nav-bar .nav-links span:nth-child(5):hover{
    transform: scale(1.1);
    background-color: #05548D;
}

/* nav bar end */

/* landing section */


.header{
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.header img{ 
    margin-top: 400px;
    width: 300px; 
    display: inline-block; 
    position: center
}


.header h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 55px;
    font-family: "SF Pro Display";
}

.header h2{
    color: rgba(169,169,169,1);
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    transform-style: preserve-3d;
    pointer-events: none;
    line-height: 30px;
}

.header span{
    display: block;
    color: rgba(169,169,169,1);
    margin-bottom: 20px;
    font-size: 24px;
    transform-style: preserve-3d;
    pointer-events: none;
}

.btn{
    background-color: #35C4FE;
    margin-bottom: 80px;
    border: none;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease-in-out;
    color: black;
    font-weight: 700;
}

.btn:hover{
    transform: scale(1.2);
    background-color: #35C4FE;
}



/* end of landing section */
/* info section */

.info{
    grid-area: info-start / info-start / info-end / info-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "card1 card2"
                         "card3 card4"
                         "card5 card6"
                         "card7 card8";
    gap: 25px;
    margin: 0 auto;
}

.card{opacity: 0;}
.card-content { text-align: center; }
.card-content h1 {font-family: 'SF Pro Display'; margin-top: -30px;margin-bottom: 20px; font-size: 40px; }
.card-content p { color: rgba(169,169,169,1); display: block; margin: 0 auto; width: 80%; line-height: 30px; font-size: 18px;}

.card img{ width: 200px; display: block; margin: 0 auto;}

.card:nth-child(1){grid-area: card1-start / card1-start / card1-end / card1-end;}
.card:nth-child(2){grid-area: card2-start / card2-start / card2-end / card2-end;}
.card:nth-child(3){grid-area: card3-start / card3-start / card3-end / card3-end;}
.card:nth-child(4){grid-area: card4-start / card4-start / card4-end / card4-end;}
.card:nth-child(5){grid-area: card5-start / card5-start / card5-end / card5-end;}
.card:nth-child(6){grid-area: card6-start / card6-start / card6-end / card6-end;}
.card:nth-child(7){grid-area: card7-start / card7-start / card7-end / card7-end;}
.card:nth-child(8){grid-area: card8-start / card8-start / card8-end / card8-end;}

/* end of info section */

/* footer section */
.footer{
    grid-area: foot-start / foot-start / foot-end / foot-end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas: "... social ..."
    padding: 20px 100px;
    gap: 20px;
}

.social{
    grid-area: social-start / social-start / social-end / social-end;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: auto;
    grid-template-areas: "twitter instagram";
    gap: 40px;
    text-align: center;
}

.twitter a img{
    display: inline-block;
    vertical-align: middle;
}

.twitter a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #077ACB;
}

.instagram a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: rgba(169,169,169,1);
}

.instagram a img{
    display: inline-block;
    vertical-align: middle;
}

/* end of footer section */

.err{
    display: block; margin: 0 auto; text-align: center;
}

@keyframes fadeInLeft{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes preloaderAnim {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes glitch{
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-15px, 15px)
    }
    40% {
        transform: translate(-15px, -15px)
    }
    60% {
        transform: translate(15px, 15px)
    }
    80% {
        transform: translate(15px, -15px)
    }
    to {
        transform: translate(0);
        display: none;
    }
}

.tos-container{
    width: 80%;
    display: block;
    margin: 0px auto 50px auto;
}

.tos-container h1{
    text-align: center; 
    font-size: 30px;
    margin-bottom: 20px;
}

.tos-container ul {
    list-style: none;
    margin: 20px 40px;
}

.tos-container ul li::before {
    content: "\2022"; 
    color: #35C4FE;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

.tos-container p:not(strong){
    color: rgb(212, 212, 212);
}

.tos-container strong{
    font-size: 20px;
    display: block;
    margin: 10px 0px;
}