html {
	height: 100%;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background: #0c0c0c;
	overflow-x: hidden;
	color: #000;
	position: relative;
	margin: 0;
	min-height: 100%;
}

.container-fluid {
	max-width: 1220px;
}

a {
	color: #0baa4b;
}

a:hover {
	color: rgb(107,32,178);
}

a:hover {
	text-decoration: none;
}

#menu {
	background-color: #000;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	box-shadow: 0px 0px 67.15px 11.85px rgba(3, 3, 3, 0.25);
}

#menu .navbar-brand {
	padding-top: 15px;
	padding-bottom: 15px;
}

#menu .navbar-brand img {
	height: 50px;
	transition: all 0.3s ease;
}

#menu .navbar-toggler {
	font-size: 12px;
	padding: 8px 10px;
	color: #ffffff
}

#menu .navbar-nav > li > a {
	font-size: 13px;
	font-weight: 700;
	position: relative;
}

#menu .navbar-nav > li {
	margin-left: 35px;
}

#menu .navbar-nav > li > a,
#menu .navbar-nav > li > a:focus {
	color: #ffffff;
}


@media (max-width: 992px) {
	#menu {
		margin-top: 0;
	}
}

@media (min-width: 992px) {
	.purple-btn-menu {
		border-radius: 10px;
		background-color: #441176;
		color: #fff !important;
		padding: 6px 25px !important;
		margin-top: 2px;
	}
	.purple-btn-menu:hover {
		background-color: rgb(107,32,178);
	}
	.purple-btn-menu:hover:before{
		width: 0;
	}

	nav ul li a,
	nav ul li a:after,
	nav ul li a:before {
		transition: all .5s;
	}

	nav ul li a {
		position: relative;
	}

	nav ul li a.nav-link:before,
	nav ul li a.active:before {
		position: absolute;
		bottom: 3px;
		left: 0;
		right: 0;
		margin: auto;
		width: 0%;
		content: '.';
		color: transparent;
		background: #441176;
		height: 2px;
	}

	nav ul li a:hover:before,
	nav ul li a.active:before {
		width: 92%;
	}
	#menu {
		background-color: #000;
	}

	#menu .navbar-brand:focus,
	#menu .navbar-brand:hover {
		color: #ffffff;
	}

	#menu .navbar-nav > li > a,
	#menu .navbar-nav > li > a:focus {
		color: rgb(255, 255, 255);
	}

	#menu .navbar-brand {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	#menu.navbar-shrink {
		background-color: #000;
		margin-top: 0px;
	}

	#menu.navbar-shrink .navbar-brand img {
		height: 50px;
	}

	#menu.navbar-shrink .navbar-nav > li > a,
	#menu.navbar-shrink .navbar-nav > li > a:focus {
		color: #fff;
	}
}

section {
	position: relative;
}

#hero {
	color: #fff;
	z-index: 3;
	padding: 274px 0 115px;
}

#hero:before {
	background: url(../img/hero-bg.jpg) center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#hero h3 {
	font-size: 30px;
	font-weight: 700;
}

#hero p {
	font-size: 18px;
	margin-bottom: 0;
	line-height: 1.3;
	font-weight: 600;
}

.white-btn {
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	color: #181818;
	font-size: 17px;
	font-weight: 700;
	display: block;
	padding: 5px;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
	box-shadow: 5px 0px 35px 0px rgba(255, 255, 255, 0.38);
	text-shadow: 5px 0px 35px rgba(255, 255, 255, 0.38);
}

.white-btn:hover {
	background-color: rgb(244, 244, 244);
	transform: scale(1.1);
}

.jumping {
	-webkit-animation: jump 2s ease 0s infinite normal;
	animation: jump 2s ease 0s infinite normal;
}

@-webkit-keyframes jump {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	20% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	50% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	60% {
		-webkit-transform: translateY(-7px);
		transform: translateY(-7px);
	}
	80% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(-7px);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}

.filter.white {
	-webkit-filter: brightness(0) invert(1);
	-o-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

#main {
	padding: 80px 0 50px;
	color: #fff;
}

#main:before {
	background: url(../img/map.png) center top repeat-x;
	content: " ";
	position: absolute;
	top: -30px;
	left: 0;
	width: 100%;
	height: 100%;
}

.heading {
	font-size: 30px;
	font-weight: 700;
}


.small-box {
	border-radius: 10px;
	color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 25px 35px;
	position: relative;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}

.small-box:hover {
	transform: scale(1.08);
	background-color: #fff;
}

.small-box:before {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.90;
	border-radius: 5px;
}

.small-box.first:before {
	background-image: -moz-linear-gradient( 2deg, rgb(33,5,59) 0%, rgb(107,32,178) 100%);
	background-image: -webkit-linear-gradient( 2deg, rgb(33,5,59) 0%, rgb(107,32,178) 100%);
	background-image: -ms-linear-gradient( 2deg, rgb(33,5,59) 0%, rgb(107,32,178) 100%);
}

.small-box.second:before {
	background-image: -moz-linear-gradient( 180deg, rgb(33,5,59) 0%, rgb(107,32,178) 100%);
	background-image: -webkit-linear-gradient( 180deg, rgb(33,5,59) 0%, rgb(107,32,178) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(33,5,59) 0%, rgb(107,32,178) 100%);
}

.small-box.additional:before {
	background-image: -moz-linear-gradient( 90deg, rgb(33,5,59) 0%, rgb(107,32,178) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(33,5,59) 0%, rgb(107,32,178) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(33,5,59) 0%, rgb(107,32,178) 100%);
}

.small-box .title {
	font-size: 28px;
	font-weight: 700;
}

.small-box img {
    -webkit-filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.9));
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.9));
}

.small-box .box-text {
	font-size: 14px;
	line-height: 2;
	margin-top: 5px;
}

#bottom-section {
	padding: 75px 0 40px;
	color: #fff;
}

#bottom-section:before {
	background: url(../img/footer-bg.png) center bottom no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	content: " ";
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;

}

.question-top {
	background-color: rgb(0, 0, 0);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 20px 35px;
	font-weight: 700;
	display: block;
    width: 100%;
    z-index: 10;
    position: relative;
	cursor: pointer;
	transition: 0.2s all;
}

.question-top:hover {
		background-color: rgb(107,32,178);
}

.answer-box {
	padding: 20px 35px;
	background-color: rgba(0, 0, 0, 0.431);
	font-size: 14px;
	line-height: 1.8;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.question-top .chevron {
    filter: brightness(100);
    transform: rotate(180deg);
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}

.question-top.collapsed .chevron {
    transform: rotate(360deg);
}

.question-top.collapsed {
	border-radius: 10px;
}

.review-box {
	border-radius: 10px;
	background-color: #fff;
	padding: 10px;
	color: #000;
	transition: 0.2s all;
}

.review-box .avatar {
	text-align: center;
    vertical-align: middle;
	position: relative;
	margin: auto;
}

.review-box .avatar img {
	border-style: solid;
	border-width: 5px;
	border-color: rgba(0, 0, 0, 0.37);
	border-radius: 50%;
    width: 65px;
    height: 65px;
}

.review-box .name {
	font-size: 18px;
	font-weight: 700;
}

.review-box .review {
	font-size: 12px;
	font-weight: 500;
}

.review-box:hover {
		background-color: #601db6;
		color: #fff;
}


#ui-box:before {
	background: url(../img/section-bg.jpg) center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	content: " ";
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 225px;
}

#ui-slider img {
	position: relative;
}

#ui-slider .slick-list.draggable {
	padding: 100px 0px !important;
}

#ui-slider img {
	box-shadow: 0px 0px 39.56px 6.44px rgba(3, 3, 3, 0.63);
}

#ui-slider .slick-current:hover {
		transform: scale(2.1) !important;
}

.modal-content {
    background: rgb(107,32,178);
	color: #fff;
}
.modal-header {
    border-bottom: 1px solid rgba(222, 226, 230, 0.20);
}

@media (min-width: 768px) {
	#ui-slider .slick-slide.slick-current.slick-active.slick-center {
		-webkit-transition: 0.4s all;
		-o-transition: 0.4s all;
		transition: 0.4s all;
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		-webkit-transform: scale(2);
		transform: scale(2);
		z-index: 9999;
		position: relative;
	}
}

@media (max-width: 992px) {
	#ui-slider .slick-list.draggable {
		padding: 70px 0px !important;
	}
}
@media (max-width: 768px) {
	#ui-slider .slick-list.draggable {
		padding: 30px 0px !important;
	}
}

@media (max-width: 575px) {

}
